body{
    text-align: center;
}
.btn{
    height:150px;
    width:150px;
    border:10px solid black;
    border-radius:20%;
    margin:2.5rem;
}
.container{
    display: flex;
    justify-content: center;
}
#yellow{
    background-color: rgb(239, 239, 100);
}
#blue{
    background-color: rgb(67, 159, 205);
}
#red{
    background-color: rgb(181, 50, 50);
}
#green{
    background-color: rgb(84, 131, 84);
}
.flash{
    background-color: white !important;
}